@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: 'Playfair Display', serif;
}

body {
    background-color: rgb(43, 29, 29);
}

h1 {
    font-family: 'Playfair Display', serif;
}

#anstallda_gridwrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100px 50px 100px max-content max-content 250px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "he he he"
    "na na na"
    "ti ti ti"
    "sp sp sp"
    "sp sp sp"
    "fo fo fo"
    ;
    align-items: center;
    justify-content: space-around;
}

#index_gridwrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100px 50px 100px 500px 500px 250px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "he he he"
    "na na na"
    "ti ti ti"
    "sl sl sr"
    "sl sl sr"
    "fo fo fo"
    ;
    align-items: center;
    justify-content: space-around;
}

#omoss_gridwrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100px 50px 100px max-content max-content 250px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "he he he he he he"
    "na na na na na na"
    "ti ti ti ti ti ti"
    "ol ol ol or or or"
    "ol ol ol or or or"
    "fo fo fo fo fo fo"
    ;
    align-items: center;
    justify-content: space-around;
}

#page_title {
    height: 100%;
    width: 100%;
    font-size: 20px;
    display: flex;
    grid-area: ti;
    justify-content:center;
    align-items: center;
    background-color: rgb(43, 29, 29);
}

#page_nav {
    display: flex;
    width: 100%;
    height: 100%;
    grid-area: na;
    background-color: rgb(52, 36, 36);
    justify-content:space-around;
    align-items: center;
}

#page_header {
    font-size: 40px;
    display: flex;
    width: 100%;
    height: 100%;
    grid-area: he;
    background-color: rgb(66, 46, 46);
    justify-content: center;
    align-items: center;
}

a {
    transition: 250ms;
}
a:hover {
    transform: scale(1.05);
    transition: 250ms;
    color:bisque;
}

#page_footer {
    display: flex;
    width: 100%;
    height: 100%;
    grid-area: fo;
    background-color: rgb(43, 29, 29);
    justify-content: space-evenly;
    align-items: center;

}

#section_personal {
    width: 100%;
    height: 100%;
    grid-area: sp;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(43, 29, 29);
}

#section_index_left {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 1000px;
    grid-area: sl;
    background-image: url(/img/zoo_1000x1000.jpg);
    background-size:cover;
    transition: 300ms;
    align-content:space-between;
    justify-content: flex-start;
    overflow: hidden;
    border-radius: 50px;
    transform: scale(0.99);
}

#section_index_right {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    height: 1000px;
    width: 100%;
    grid-area: sr;
    background-image: url(/img/cafe_500x1000.jpg);
    background-size:cover;
    background-position: 50% 50%;
    transition: 300ms;
    align-content:space-between;
    justify-content: flex-start;
    overflow: hidden;
    border-radius: 50px;
    transform: scale(0.99);

}

#section_index_right:hover, #section_index_left:hover {
    transform: scale(1);
    transition: 300ms;
}

#section_omoss_left {
    grid-area: ol;
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(43, 29, 29);
    padding: 20px;
}

#section_omoss_right {
    grid-area: or;
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(43, 29, 29);
    padding: 20px;
}

h4 {
   font-size: 1.5rem; 
}

#section_title {
    font-size: 10rem;
    justify-self: center;
}

#img_personal {
    border-radius: 20px;
}

#img_hitta {
    border-radius: 40px;
    width: 100%;
    transform: scale(0.99);
    transition: 300ms;
}

#img_hitta:hover {
    transform: scale(1);
    transition: 300ms;
    box-shadow: 0 0 24px 0 rgba(0,0,0,0.5);
}

.card_personal {
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    margin: 50px;
    align-items: center;
    justify-content: space-around;
}

.card_personal:hover {
    box-shadow: 0 0 24px 0 rgba(0,0,0,0.5);
    transform: scale(1.03);
}

#card_container {
    position: relative;
    text-align: center;  
}

#card_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

#text_container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h3 {
    font-size: 2.3rem;
}

#card_1 {
    background-image: url("/img/img_elephant.png");
}
#card_2 {
    background-image: url("/img/img_giraffe.png");
}
#card_3 {
    background-image: url("/img/img_monkey.png");
}
#card_4 {
    background-image: url("/img/img_penguin.png");
}
#card_5 {
    background-image: url("/img/img_polarbear.png");
}
#card_6 {
    background-image: url("/img/img_rhino.png");
}